.players__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.players__login {
  width: 600px;
}

.players__status {
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
}

.players__status_active {
  background: #A8D37F;
}

.players__status_deleted {
  background: #EC7777;
}

.players__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
}
