.game {
  height: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game__players {
  display: flex;
  flex-direction: column;
  width: min(500px, 100%);
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 20px;
  margin-right: 10px;
}

.game__player-stat {
  display: flex;
}

.game__player-icon {
  width: 24px;
  height: 24px;
}

.game__player-icon_field-size {
  width: 150px;
  height: 150px;
}

.game__player-icon_circle {
  stroke: #E38BAC;
}

.game__player-icon_cross {
  fill: #60C2AA;
}

.game__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.game__timer {
  padding: 24px;
  width: 150px;
  background: #EDEDED;
  border-radius: 12px;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.player-stat__win-rate {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.tic-tac-toe-field {
  display: grid;
  grid-template-columns: auto auto auto;
  filter: drop-shadow(0px 4px 20px rgba(44, 57, 121, 0.09));
  gap: 4px;
  width: min-content;
}

.tic-tac-toe-field__cell {
  background: #FFFFFF;
  border-radius: 12px;
  height: 150px;
  width: 150px;
  padding: 10px;
}

.tic-tac-toe-field__cell_cross-win {
  background: #CFEDE6;
}

.tic-tac-toe-field__cell_circle-win {
  background: #F3BBD0;
}

.game__chat {
  height: 655px;
  width: 352px;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .game {
    flex-direction: column;
    align-items: center;
  }

  .game__players {
    margin-bottom: 24px;
  }

  .game__chat {
    margin-top: 24px;
  }
}

@media screen and (max-width: 400px) {
  .game {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
  }

  .game__players {
    width: auto;
  }

  .tic-tac-toe-field__cell {
    height: 119px;
    width: 119px;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.chat__messages {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-bottom: var(--mask-height);
  --mask-height: 20px;
  --scrollbar-width: 8px;
  --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
  );
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  --mask-image-scrollbar: linear-gradient(black, black);
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  mask-position: 0 0, 100% 0;
  mask-repeat: no-repeat, no-repeat;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__placeholder {
  align-self: center;
  justify-self: center;
  margin-bottom: 20px;
}

.chat__message {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.chat__message_left {
  border-radius: 16px 16px 16px 0;
  margin-right: auto;
}

.chat__message_right {
  border-radius: 16px 16px 0 16px;
  margin-left: auto;
}

.chat__message-header {
  display: flex;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}

.chat__sender-name {
  margin-right: auto;
}

.chat__sender-name_left {
  color: #60C2AA;
}

.chat__sender-name_right {
  color: #E38BAC;
}

.chat__send-date {
  margin-left: auto;
}

.chat__message-text {

}

.chat__send {
  display: flex;
  width: 100%;
}

.chat__send-input {
  width: 100%;
}

.chat__send-btn {
  margin-left: 12px;
  padding: 12px;
}

.chat__send-icon {
  width: 24px;
  height: 18px;
}

@media screen and (max-width: 1200px) {
  .chat {
    flex-direction: column-reverse;
    height: 200px;
  }

  .chat__messages {
    flex-direction: column;
  }

  .chat__placeholder {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.error-modal {
  text-align: center;
}
