.history__player-one,
.history__player-two {
  display: flex;
  align-items: center;
}

.history__player-one {
  width: 500px;
}

.history__player-one-icon,
.history__player-two-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.history__trophy {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

.history__player-one-icon {
  fill: #60C2AA;
}

.history__player-two-icon {
  fill: #E38BAC;
}

.history__versus {
  font-weight: 700;
}
