* {
  font-family: Noto Sans, serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  min-height: 100vh;
}

.container__content {
  margin: 144px auto;
}

.text {
  color: #373745;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text_bold {
  font-weight: 500;
}

.text_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 40px;
  height: fit-content;
}

.box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0 0 16px 16px;
  padding: 16px 40px;
}

.nav__icons {
  display: flex;
  flex-direction: row;
}

.nav__icon {
  width: 16px;
  height: 16px;
  fill: #E38BAC;
  stroke: #E38BAC;
}

.nav__links {
  display: flex;
  flex-direction: row;
}

.nav__link {
  padding: 4px 12px;
  border-radius: 200px;
}

.nav__link:hover {
  background: #F7F7F7;
}

.nav__link_active {
  background: #60C2AA;
  color: #FFFFFF;
}

.nav__link_active:hover {
  background: #60C2AA;
  color: #FFFFFF;
}

.nav__exit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 4px;
}

.nav__exit-link {
  fill: #373745;
}

.table {}

.table__row {
  background: #FFFFFF;
  box-shadow: inset 0 -1px 0 #EEEFF5;
}

.table__cell {
  text-align: left;
  padding: 12px 8px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.button_primary {
  background: #60C2AA;
  color: #FFFFFF;
}

.button_primary:hover {
  background: #3BA189;
  color: #FFFFFF;
}

.button_secondary {
  background: #F7F7F7;
}

.button_secondary:hover {
  background: #DCDCDF;
}

.button:disabled {
  opacity: 0.3;
}

.button__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.button__icon_primary {
  fill: #FFFFFF;
}

.button__icon_secondary {
  fill: #373745;
}

.modal {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal__window {
  width: 352px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
  border-radius: 16px;
  padding: 24px 24px 40px;
}

.modal__header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.modal__close {
  background: none;
}

.modal__close:hover {
  background: none;
}

.modal__close:disabled {
  background: none;
}

.modal__close-icon {
  width: 13px;
  height: 13px;
  fill: #373745;
}

.modal__title {
  margin: auto;
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}

.modal__submit {
}

.input {
  border: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.input__label {
  margin-bottom: 8px;
}

.input__textbox {
  background: #FFFFFF;
  border: 1px solid #DCDCDF;
  box-sizing: border-box;
  border-radius: 12px;
  height: 48px;
  padding: 12px 20px;
}

.input__textbox::placeholder {
  color: #B1B1B7;
}

.input__textbox:hover {
  border-color: #60C2AA;
}

.input__textbox:focus {
  border-color: #3BA189;
}

.input__textbox_errored {
  border-color: #E93E3E;
}

.input__textbox_errored:hover {
  border-color: #E93E3E;
}

.input__textbox_errored:focus {
  border-color: #E93E3E;
}

.input__error-message {
  font-weight: 400;
  font-size: 12px;
  color: #E93E3E;
}

.form__field {
  margin-bottom: 12px;
}

.form__submit {
  margin-top: 8px;
}