.rating,
.rating__title,
.rating__table,
.rating__row,
.rating__cell,
.rating__cell_header {}

.rating__cell_login {
  width: 424px;
}

.rating__cell_wins {
  color: #69B849;
}

.rating__cell_loses {
  color: #E93E3E;
}
