.nav {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
  border-radius: 0 0 16px 16px;
  padding: 16px 40px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: calc(48px * 4);
    
  }

  &__links {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 850px) {
      margin-top: 10px;
      margin-bottom: 10px;
      flex-direction: column;
    }
  }

  &__link {
    padding: 4px 12px;
    border-radius: 200px;
    color: #373745;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:hover {
      background: #7560c2;
    }

    &_active {
      background: #cf93c5;
      color: #FFFFFF;

      &:hover {
        background: #7560c2;
        color: #FFFFFF;
      }
    }
  }

  &__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 4px;
    fill: #373745;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
