.login {
  min-width: 352px;
  padding: 40px 24px;
  border-radius: 16px;
  align-items: center;
}

.login__doge {
  margin-bottom: 20px;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}
