.active-players {
  &__empty {
    composes: text text_title from '../styles.css';
    width: 700px;
    text-align: center;
  }

  &__login {
    width: 340px;
  }

  &__status {
    color: #FFFFFF;
    padding: 4px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_free {
      background: #A8D37F;
    }

    &_busy {
      background: #87CAE8;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
  }
}
